{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": false
}
