@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root {
  font-family: lato, 'Source Sans Pro', 'Arial', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: rgb(173, 181, 189);
}

.text-custom1 {
  color: #4369b2 !important;
}

.bg-custom1 {
  background-color: #4369b2 !important;
}

.bg-custom2 {
  background-color: #5176be !important;
}

.bg-custom3 {
  background-color: #3c5e9f !important;
}

.bg-stock,
.bg-statement {
  background-color: #5176be;
}

.page-link {
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

.page-item {
  width: 2rem;
}

.page-item.disabled .page-link {
  background-color: rgb(173, 181, 189);
}

.page-item.active .page-link {
  border-color: #fff;
}

.pt-6 {
  padding-top: 5rem !important;
}

.form-control::placeholder {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .bg-stock:nth-child(4n-2),
  .bg-stock:nth-child(4n-1),
  .bg-statement:nth-child(even) {
    background-color: #3c5e9f;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .bg-stock:nth-child(even),
  .bg-statement:nth-child(4n-2),
  .bg-statement:nth-child(4n-1) {
    background-color: #3c5e9f;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .bg-stock:nth-child(8n-6),
  .bg-stock:nth-child(8n-4),
  .bg-stock:nth-child(8n-3),
  .bg-stock:nth-child(8n-1),
  .bg-statement:nth-child(4n-2),
  .bg-statement:nth-child(4n-1) {
    background-color: #3c5e9f;
  }
}

@media screen and (min-width: 1200px) {
  .bg-stock:nth-child(even),
  .bg-statement:nth-child(even) {
    background-color: #3c5e9f;
  }
}

@media screen and (max-width: 300px) {
  .header-title {
    font-size: 1rem;
  }
}
